@font-face {
    font-family: 'StaryFont';
    src: url('StaryFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'StaryFont', sans-serif;
    margin: 0;
}   
#Herosection {
    background: #88E2F2;
    padding: 5px 10px;
    margin-top: 10px;
} 
#MyProjects {
    padding-left: 10px 
}
#DoorClicker {
    margin-top: 10px;
}
#DoorClickerIMG {
    width: 90%;
}
.FAQs {
    background: #dbe9f4;
    padding: 5px 10px;    
}
#UpdateListBtn {
    background: #88E2F2;
    font-family: 'StaryFont', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
